/* styles.css */
body {
    font-family: Arial, sans-serif;
    font-weight: 600;
    background-color: transparent;
    background-image: url('Background-image.jpeg');
    margin: 0;
    padding: 0;
    background-size: cover; /* Makes the background cover the entire page */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Makes the image stay fixed during scrolling */
  }
  
  .form-container {
    position: relative;
    width: 40%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid #ddd;
    background-color: transparent;
    background-color:rgb(167, 214, 196);
  }

  form::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      /*background-image: url('Form-background-image.jpeg');*/
      background-clip: padding-box;
      box-sizing: border-box;
      background-size: cover;
      background-position: center;
      background-color: transparent;
      z-index: -1; /* Makes sure the background stays behind the form */
      opacity: 0.5; /* Optional: Adjust opacity for the background */
    }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  p {
    text-align: center;
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  div{
    margin-bottom: 10px;
  }

  label {
    margin-top: 1rem;
    margin-bottom: 10px;
  }
  
  input, select{
    margin-top: 4px;
  }

  input[type="text"], input[type="email"], input[type="number"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    height: 100px;
  }
  
  .radio-group input,
  .checkbox-group input {
    margin-right: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .required {
    color: red;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    display: none;
  }
  
  .confirmation-message {
    color: green;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  
  input:invalid, select:invalid {
    border-color: red;
  }
  
